Repository auxves/vscode-syncify: changes, and which lint-staged commands are due for each by the changed paths.
All: xo --fix, prettier --write

.lintstagedrc:

{
	"*.{js,ts}": "xo --fix",
	"*.{js,jsx,ts,tsx,md,html,css}": "prettier --write"
}

Update deps and move mocks to tests folder
  .vscodeignore
  .xo-config.json
  package.json
  src/services/oauth.ts
  src/tests/__mocks__/vscode.ts
  tsconfig.json
  yarn.lock
Due: xo --fix, prettier --write

Add checksum generation to deployment workflow
  .github/workflows/deploy.yml
Due: none

Update deps, improve logging, clean up code
  .xo-config.json
  package.json
  src/services/fs.ts
  src/services/init.ts
  src/services/logger.ts
  src/services/oauth.ts
  src/services/settings.ts
  src/state.ts
  yarn.lock
Due: xo --fix, prettier --write

Remove unnecessary test
  src/tests/services/logger.test.ts
Due: xo --fix, prettier --write

Update dependencies, improve logging, and clean up code (#43)
  .xo-config.json
  package.json
  src/services/fs.ts
  src/services/init.ts
  src/services/logger.ts
  src/services/oauth.ts
  src/services/settings.ts
  src/state.ts
  src/tests/services/logger.test.ts
  yarn.lock
Due: xo --fix, prettier --write

Switch to spaces and fix nested list
  .editorconfig
  README.md
Due: prettier --write

Switch to spaces and fix nested list (#44)
  .editorconfig
  README.md
Due: prettier --write

Remove debug mode and switch to output channel
  README.md
  package.json
  package.nls.json
  src/services/init.ts
  src/services/logger.ts
  src/state.ts
  src/tests/__mocks__/vscode.ts
Due: xo --fix, prettier --write

Update dependencies
  package.json
  yarn.lock
Due: none

Improved Debug Logging (#45)
  README.md
  package.json
  package.nls.json
  src/services/init.ts
  src/services/logger.ts
  src/state.ts
  src/tests/__mocks__/vscode.ts
  yarn.lock
Due: xo --fix, prettier --write

Increment version to v4.0.2
  package.json
Due: none

Remove redundant issue type
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: prettier --write

Update codecov config
  codecov.yml
Due: none

Improve Readability - Use arrow functions instead of regular functions in namespaces - Use `undefined` instead of `null` - Use `type` instead of `interface` - Update linter config
  .webpack/development.ts
  .xo-config.json
  package.json
  src/models/languagePack.ts
  src/models/migrations.ts
  src/models/profile.ts
  src/models/settings.ts
  src/models/syncer.ts
  src/models/webview/section.ts
  src/models/webview/selectOption.ts
  src/models/webview/setting.ts
  src/services/customFiles.ts
  src/services/extensions.ts
  src/services/factory.ts
  src/services/fs.ts
  src/services/logger.ts
  src/services/oauth.ts
  src/services/pragma.ts
  src/services/profile.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/state.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  src/tests/__mocks__/vscode.ts
  src/tests/services/customFiles.test.ts
  src/tests/services/extensions.test.ts
  src/tests/services/fs.test.ts
  src/tests/services/init.test.ts
  src/tests/services/migrator.test.ts
  src/tests/services/profile.test.ts
  src/tests/services/settings.test.ts
  src/tests/syncers/file.test.ts
  src/tests/syncers/repo.test.ts
  src/utilities/stringifyPretty.ts
  yarn.lock
Due: xo --fix, prettier --write

Improve Readability (#46)
  .webpack/development.ts
  .xo-config.json
  package.json
  src/models/languagePack.ts
  src/models/migrations.ts
  src/models/profile.ts
  src/models/settings.ts
  src/models/syncer.ts
  src/models/webview/section.ts
  src/models/webview/selectOption.ts
  src/models/webview/setting.ts
  src/services/customFiles.ts
  src/services/extensions.ts
  src/services/factory.ts
  src/services/fs.ts
  src/services/logger.ts
  src/services/oauth.ts
  src/services/pragma.ts
  src/services/profile.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/state.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  src/tests/__mocks__/vscode.ts
  src/tests/services/customFiles.test.ts
  src/tests/services/extensions.test.ts
  src/tests/services/fs.test.ts
  src/tests/services/init.test.ts
  src/tests/services/migrator.test.ts
  src/tests/services/profile.test.ts
  src/tests/services/settings.test.ts
  src/tests/syncers/file.test.ts
  src/tests/syncers/repo.test.ts
  src/utilities/stringifyPretty.ts
  yarn.lock
Due: xo --fix, prettier --write

Add Trailing Commas
  .prettierrc
  .webpack/common.ts
  .webpack/development.ts
  .webpack/production.ts
  src/migrations.ts
  src/models/settings.ts
  src/models/syncers.ts
  src/models/webview/settingType.ts
  src/services/announcer.ts
  src/services/customFiles.ts
  src/services/environment.ts
  src/services/extensions.ts
  src/services/factory.ts
  src/services/fs.ts
  src/services/init.ts
  src/services/localize.ts
  src/services/logger.ts
  src/services/migrator.ts
  src/services/oauth.ts
  src/services/profile.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  src/tests/__mocks__/vscode.ts
  src/tests/services/customFiles.test.ts
  src/tests/services/extensions.test.ts
  src/tests/services/init.test.ts
  src/tests/services/localize.test.ts
  src/tests/services/migrator.test.ts
  src/tests/services/profile.test.ts
  src/tests/services/settings.test.ts
  src/tests/syncers/file.test.ts
  src/tests/syncers/repo.test.ts
  src/tests/utilities/checkGit.test.ts
  src/utilities/confirm.ts
Due: xo --fix, prettier --write

Add Trailing Commas (#47)
  .prettierrc
  .webpack/common.ts
  .webpack/development.ts
  .webpack/production.ts
  src/migrations.ts
  src/models/settings.ts
  src/models/syncers.ts
  src/models/webview/settingType.ts
  src/services/announcer.ts
  src/services/customFiles.ts
  src/services/environment.ts
  src/services/extensions.ts
  src/services/factory.ts
  src/services/fs.ts
  src/services/init.ts
  src/services/localize.ts
  src/services/logger.ts
  src/services/migrator.ts
  src/services/oauth.ts
  src/services/profile.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  src/tests/__mocks__/vscode.ts
  src/tests/services/customFiles.test.ts
  src/tests/services/extensions.test.ts
  src/tests/services/init.test.ts
  src/tests/services/localize.test.ts
  src/tests/services/migrator.test.ts
  src/tests/services/profile.test.ts
  src/tests/services/settings.test.ts
  src/tests/syncers/file.test.ts
  src/tests/syncers/repo.test.ts
  src/tests/utilities/checkGit.test.ts
  src/utilities/confirm.ts
Due: xo --fix, prettier --write

Simplify Linter Config Remove some rules and accomodate for them.
  .xo-config.json
  package.json
  src/services/announcer.ts
  src/services/logger.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  yarn.lock
Due: xo --fix, prettier --write

Prettier: Always keep arrow function parentheses
  .prettierrc
  src/migrations.ts
  src/services/customFiles.ts
  src/services/extensions.ts
  src/services/fs.ts
  src/services/init.ts
  src/services/logger.ts
  src/services/migrator.ts
  src/services/oauth.ts
  src/services/pragma.ts
  src/services/profile.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  src/tests/services/customFiles.test.ts
  src/tests/services/extensions.test.ts
  src/tests/services/fs.test.ts
  src/tests/services/init.test.ts
  src/tests/services/profile.test.ts
  src/tests/services/settings.test.ts
  src/tests/syncers/file.test.ts
  src/tests/syncers/repo.test.ts
  src/utilities/checkGit.ts
  src/utilities/sleep.ts
Due: xo --fix, prettier --write

Simplify Linter Configuration (#48)
  .prettierrc
  .xo-config.json
  package.json
  src/migrations.ts
  src/services/announcer.ts
  src/services/customFiles.ts
  src/services/extensions.ts
  src/services/fs.ts
  src/services/init.ts
  src/services/logger.ts
  src/services/migrator.ts
  src/services/oauth.ts
  src/services/pragma.ts
  src/services/profile.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/file.ts
  src/syncers/repo.ts
  src/tests/services/customFiles.test.ts
  src/tests/services/extensions.test.ts
  src/tests/services/fs.test.ts
  src/tests/services/init.test.ts
  src/tests/services/profile.test.ts
  src/tests/services/settings.test.ts
  src/tests/syncers/file.test.ts
  src/tests/syncers/repo.test.ts
  src/utilities/checkGit.ts
  src/utilities/sleep.ts
  yarn.lock
Due: xo --fix, prettier --write

Fix Webview Refresh
  src/services/webview.ts
Due: xo --fix, prettier --write

Fix Webview Refresh (#49)
  src/services/webview.ts
Due: xo --fix, prettier --write

Fix OAuth
  package.json
  src/services/oauth.ts
  yarn.lock
Due: xo --fix, prettier --write

Fix OAuth (#50)
  package.json
  src/services/oauth.ts
  yarn.lock
Due: xo --fix, prettier --write

Increment version to v4.0.3
  package.json
Due: none

Use CSP source
  package.json
  src/main.ts
  src/services/__mocks__/localize.ts
  src/services/announcer.ts
  src/services/extensions.ts
  src/services/init.ts
  src/services/localize.ts
  src/services/logger.ts
  src/services/oauth.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/repo.ts
  src/tests/getCleanupPath.ts
  src/tests/services/migrator.test.ts
  src/tests/services/pragma.test.ts
  src/utilities/__mocks__/confirm.ts
  src/utilities/checkGit.ts
  src/utilities/stringifyPretty.ts
  yarn.lock
Due: xo --fix, prettier --write

Update vscode requirement
  package.json
Due: none

Upgrade lockfile
  yarn.lock
Due: none

Use CSP source (#51)
  package.json
  src/main.ts
  src/services/__mocks__/localize.ts
  src/services/announcer.ts
  src/services/extensions.ts
  src/services/init.ts
  src/services/localize.ts
  src/services/logger.ts
  src/services/oauth.ts
  src/services/settings.ts
  src/services/watcher.ts
  src/services/webview.ts
  src/syncers/repo.ts
  src/tests/getCleanupPath.ts
  src/tests/services/migrator.test.ts
  src/tests/services/pragma.test.ts
  src/utilities/__mocks__/confirm.ts
  src/utilities/checkGit.ts
  src/utilities/stringifyPretty.ts
  yarn.lock
Due: xo --fix, prettier --write

Increment version to v4.0.4
  package.json
Due: none

Add ovsx publishing to deployment
  .github/workflows/deploy.yml
  package.json
  yarn.lock
Due: none

Update dependencies
  .huskyrc
  .lintstagedrc
  .webpack/development.ts
  .webpack/production.ts
  package.json
  yarn.lock
Due: xo --fix, prettier --write

[ImgBot] Optimize images
  assets/banner.jpg
Due: none

Convert functions to arrow functions
  src/main.ts
  src/services/environment.ts
  src/services/localize.ts
  src/services/settings.ts
  src/tests/get-cleanup-path.ts
  src/tests/services/extensions.test.ts
Due: xo --fix, prettier --write

remove `Profile` from Profiles.updateProfile
  src/services/profile.ts
  src/syncers/file.ts
  src/syncers/git.ts
Due: xo --fix, prettier --write
